/* CUSTOM BREAKPOINTS */
a {
  color: #fff;
  transition: all .3s; }
  a:hover {
    color: rgba(255, 255, 255, 0.658);
    text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*   IMAGE SHRINKAGE  */ }
  @media (min-width: 112.5em) {
    html {
      font-size: 72.5%; } }
  @media (max-width: 75em) {
    html {
      font-size: 57.5%; } }

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; }

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  /*     &:hover {
        color: rgba(255, 255, 255, 1);  
    } */ }
  button:focus {
    border: none;
    outline: none; }

/* FONTS */
h1 {
  font-size: 7rem;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 62em) {
    h1 {
      font-size: 5.5rem; } }

h2 {
  font-size: 4.5rem;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 62em) {
    h2 {
      font-size: 3.5rem; } }

h1,
h2 {
  font-weight: 300; }

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 62em) {
    h3 {
      font-size: 2.8rem;
      line-height: 1.5; } }

h4 {
  font-size: 2.2rem;
  color: #484848;
  font-family: "Nunito Sans", sans-serif; }

h5 {
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif;
  color: #F6F6F6; }

h6 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
  color: #F6F6F6; }

/* HELPER CLASSES */
.pverymost {
  padding-top: 15rem; }

.pmost {
  padding-top: 9rem; }

.pmore {
  padding-top: 7rem; }

.p3 {
  padding-top: 3rem; }

.pleast {
  padding-top: 2rem; }

.mlr {
  margin: 0 10rem; }

.p-wrap {
  padding-left: 3rem;
  padding-right: 3rem; }

/* WILL VARY */
.falign {
  margin-right: 3rem; }

.skewfix {
  margin-top: -14vh; }
  @media (min-width: 112.5em) {
    .skewfix {
      margin-top: -17vh; } }

::selection {
  background: #1b5187;
  color: #fff; }

/* JAVASCRIPT COMMANDS ~ OR WHATEVER.*/
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.rotating {
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation: rotating 30s linear infinite;
  -ms-animation: rotating 30s linear infinite;
  -o-animation: rotating 30s linear infinite;
  animation: rotating 20s linear infinite; }

.container {
  max-width: 120rem; }

.bg-dark {
  background-color: rgba(0, 0, 0, 0.5) !important; }

/* CTA SECTION  */
.cta {
  height: 100vh;
  background-image: url(/img/cta-img.png);
  background-position: center;
  background-size: cover;
  z-index: 40000; }
  .cta__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

.content {
  width: 100%;
  position: relative; }
  .content p {
    color: #212529;
    font-size: 1.7rem;
    margin-top: 2rem; }
  .content--paragraph {
    padding: 13rem 0;
    /*   IMAGE SHRINKAGE  */ }
    @media (max-width: 62em) {
      .content--paragraph {
        padding: 8rem 2rem; } }
  .content--amenities {
    padding: 13rem 0;
    /*   IMAGE SHRINKAGE  */ }
    @media (max-width: 62em) {
      .content--amenities {
        padding: 8rem 2rem; } }
    .content--amenities h3 {
      font-size: 4.4rem;
      color: #212529;
      /*   IMAGE SHRINKAGE  */
      /*   IMAGE SHRINKAGE  */ }
      @media (max-width: 62em) {
        .content--amenities h3 {
          font-size: 3.2rem;
          text-align: center; } }
      @media (max-width: 37.5em) {
        .content--amenities h3 {
          /* 600 / 16 */
          font-size: 2.2rem; } }
    .content--amenities p {
      color: #212529;
      font-size: 1.8rem;
      margin-top: 2rem; }
    .content--amenities ul {
      padding: 1rem;
      font-size: 1.6rem;
      margin-top: 2rem;
      padding-left: 2rem;
      /*   IMAGE SHRINKAGE  */ }
      @media (max-width: 62em) {
        .content--amenities ul {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center; } }
      .content--amenities ul li {
        margin: auto; }
        .content--amenities ul li:not(:last-child) {
          margin-bottom: 1rem; }
    .content--amenities img {
      padding: 2rem; }
  .content__block {
    max-width: 84rem;
    margin: auto; }
    .content__block h3 {
      font-size: 4.4rem;
      color: #212529;
      /*   IMAGE SHRINKAGE  */
      /*   IMAGE SHRINKAGE  */ }
      @media (max-width: 62em) {
        .content__block h3 {
          font-size: 3.2rem; } }
      @media (max-width: 37.5em) {
        .content__block h3 {
          /* 600 / 16 */
          font-size: 2.8rem; } }
  .content__flex {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-left: 5px;
    padding-right: 5px; }
    .content__flex > * {
      margin: 5px;
      /*   IMAGE SHRINKAGE  */ }
      @media (max-width: 62em) {
        .content__flex > * {
          margin: 1px; } }
  .content__child {
    background-position: center;
    background-size: cover;
    flex: 1 2 calc(49% - 4rem);
    height: 40vh;
    /*   IMAGE SHRINKAGE  */
    /*   IMAGE SHRINKAGE  */
    /*   IMAGE SHRINKAGE  */ }
    @media (max-width: 62em) {
      .content__child {
        flex: 1 2 calc(49% - 1rem); } }
    .content__child--griditem25 {
      flex: 1 2 calc(24% - 4rem);
      /*   IMAGE SHRINKAGE  */ }
      @media (max-width: 62em) {
        .content__child--griditem25 {
          flex: 1 2 calc(24% - 1rem); } }
    @media (max-width: 62em) {
      .content__child {
        height: 25vh; } }
    @media (max-width: 37.5em) {
      .content__child {
        /* 600 / 16 */
        height: 10vh; } }

.floorpicker {
  height: 100vh;
  background-image: url(/img/cta-img.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative; }
  .floorpicker__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    z-index: 4; }
  .floorpicker__pickerwrapper {
    margin-top: 30%; }

.slide {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 40;
  display: none;
  flex-flow: row nowrap;
  align-items: center;
  padding-left: 10%;
  overflow: hidden;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 62em) {
    .slide {
      flex-flow: column nowrap;
      justify-content: center; } }
  .slide__btn-group {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 5rem; }
  .slide__textbody {
    flex: 0 0 50%;
    position: relative;
    /*   IMAGE SHRINKAGE  */ }
    .slide__textbody:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.5);
      width: 200%;
      height: 150%;
      z-index: -1; }
    @media (max-width: 62em) {
      .slide__textbody {
        flex-flow: column nowrap;
        justify-content: center;
        flex: 0 0 auto; } }
    .slide__textbody h1 {
      font-size: 4.4rem;
      color: #fff;
      margin-bottom: 2rem; }
    .slide__textbody h3 {
      font-size: 2.2rem;
      color: #fff; }
    .slide__textbody p {
      font-size: 1.6rem;
      max-width: 80%;
      color: #fff; }
  .slide__img {
    flex: 0 1 100rem;
    opacity: .8;
    position: relative;
    /*   IMAGE SHRINKAGE  */ }
    .slide__img img {
      max-width: 100%;
      height: auto; }
    @media (max-width: 62em) {
      .slide__img {
        flex: 0 0 auto; } }

.level {
  display: flex;
  flex-flow: column nowrap; }
  .level__btn {
    color: #fff;
    font-size: 2.4rem;
    opacity: 0.5;
    padding: 2rem;
    text-decoration: none;
    text-align: left;
    transition: all .3s ease-in-out; }
    .level__btn:active {
      background-image: linear-gradient(to right top, rgba(228, 197, 125, 0.5), rgba(228, 177, 0, 0.9));
      opacity: 1; }
    .level__btn:hover {
      background-image: linear-gradient(to right top, rgba(228, 197, 125, 0.5), rgba(228, 177, 0, 0.9));
      opacity: .6; }

.side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  z-index: 39;
  width: 75%;
  opacity: 0;
  transition: .3s ease-in-out; }
  .side .legend {
    display: flex;
    margin-top: 5rem;
    margin-left: .8rem;
    align-items: center;
    max-width: 100%;
    justify-content: space-between; }
    .side .legend__boxbox {
      display: flex; }
    .side .legend__box {
      width: 4rem;
      height: 3rem; }
      .side .legend__box--onebed {
        background-color: #ebc63f; }
      .side .legend__box--twobed {
        background-color: #d8c291; }
      .side .legend__box--threebed {
        background-color: #b4aeba; }
      .side .legend__box--amenities {
        background-color: #e6e6e6; }
    .side .legend__title {
      font-size: 1.2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: .7rem; }
  .side h3 {
    margin-bottom: 1rem;
    font-size: 3.6rem; }
  .side h4 {
    color: white;
    font-size: 1.8rem; }
  .side p {
    font-size: 1.5rem;
    margin-top: 2rem;
    max-width: 69%; }

.image-area {
  position: relative;
  opacity: .9; }
  .image-area__exit {
    position: absolute;
    right: 2rem;
    top: -6rem;
    font-size: 4rem;
    opacity: .6;
    cursor: pointer;
    transition: all .1s ease-out; }
    .image-area__exit:hover {
      opacity: 1;
      font-size: 4.5rem; }
  .image-area__lobby {
    height: auto;
    width: 70rem;
    position: relative;
    z-index: -1; }
  .image-area__btn {
    position: absolute;
    font-size: 1.6rem;
    top: 3.5rem;
    left: 3.5rem;
    z-index: 10; }

.img-101 {
  position: absolute;
  top: 0;
  left: 100%;
  width: 0; }

.show {
  width: 53rem;
  z-index: 10;
  left: -95px;
  width: 53rem;
  top: 32px;
  transition: all .3s ease-out; }

.visible {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4px; }

.active {
  opacity: 1; }

.dflex {
  display: flex; }

.active-btn {
  background-image: linear-gradient(to right top, rgba(228, 197, 125, 0.5), rgba(228, 177, 0, 0.9));
  opacity: 1; }

/* FOOTER -------------------------------------------------- */
.location {
  background-color: #484848;
  padding: 1.5rem 3rem;
  border-bottom: 1px solid #6B6B6B; }
  .location h3 {
    font-size: 2.8rem;
    color: white; }

footer {
  background-color: #484848;
  padding: 5rem 0 0; }
  footer ul {
    font-size: 1.3rem;
    list-style: none;
    color: #F6F6F6;
    /*   IMAGE SHRINKAGE  */ }
    @media (max-width: 407px) {
      footer ul {
        flex: 0 0 100%; } }
    @media (max-width: 48em) {
      footer ul:nth-child(1), footer ul:nth-child(2), footer ul:nth-child(3), footer ul:nth-child(4) {
        display: none; } }
    @media (max-width: 407px) {
      footer ul {
        flex: 0 0 100%; } }
  footer li:first-child {
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    font-size: 2rem; }
  footer li:not(:last-child) {
    margin-bottom: 1.2rem; }
  footer li:last-child {
    padding-bottom: 4rem; }
  @media (max-width: 407px) {
    footer {
      text-align: left; } }

.branding {
  border-top: 1px solid #6B6B6B;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 37.5em) {
    .branding {
      /* 600 / 16 */ } }
  .branding .social-medias {
    display: inline-block; }
    .branding .social-medias a:not(:last-child) {
      padding-right: 1.5rem; }
    .branding .social-medias img {
      max-width: auto;
      height: 2.5rem; }
  .branding p {
    /* RIGHT SPOT, WHO KNOWS! */
    font-size: 1rem;
    color: #b6b6b6;
    padding-top: 3rem; }
  .branding svg {
    opacity: .7;
    margin-right: 1rem; }

.logo {
  width: 13.5%; }

.eqicon {
  opacity: 0.5;
  height: 3rem;
  margin-right: 1rem; }

.legal-jargon {
  padding: 1.25rem 3rem 1.25rem;
  background-color: #373737;
  color: #F6F6F6; }
  .legal-jargon a {
    font-size: 1.1rem;
    text-transform: uppercase;
    padding-right: 3px; }
  .legal-jargon img {
    width: 3.7rem;
    height: 3.7rem;
    opacity: .7; }

/*NAVIGATION */
.custom-toggler.navbar-toggler {
  border-color: #bbbbbb; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(187, 187, 187, 07)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navbar-brand {
  width: 15rem;
  height: 4rem; }

.navbar-nav {
  padding: 1.5rem 0;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 62em) {
    .navbar-nav {
      background-color: rgba(0, 0, 0, 0.6);
      margin-top: .5rem;
      align-items: flex-start; } }

.nav-link {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 62em) {
    .nav-link {
      padding-top: 2rem;
      padding-bottom: 2rem; } }

.navbar a {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  transition: transform .3s ease-in-out; }
  .navbar a:hover {
    transform: scale(1.1);
    /*   IMAGE SHRINKAGE  */ }
    @media (max-width: 62em) {
      .navbar a:hover {
        transform: scale(1); } }

.navbar-collapse {
  z-index: 7000; }

/* BUTTON INLINE  */
.btn {
  text-transform: uppercase;
  padding: 1rem 4rem;
  display: inline-block;
  font-size: 1.8rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff; }
  .btn--modal {
    margin-right: 5rem; }
    .btn--modal i {
      margin-right: 8px; }

.app-form {
  background-color: orangered;
  width: 100%; }
  .app-form form {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 60%; }
  .app-form input {
    flex: 0 0 50%;
    display: inline-block;
    padding: .5rem 0 1rem .5rem;
    font-size: 1.8rem; }
