
    .app-form {
        background-color: orangered;
        width: 100%;

    
        form {
            margin: auto;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            max-width: 60%;
        }


        input {
            flex: 0 0 50%;
            display: inline-block;
            padding: .5rem 0 1rem .5rem;
            font-size: 1.8rem;
        }
    }


